{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Experiences</h1>
  {% for experience in experiences %}
    <article>
        <h2><a class="articleTitle" href="{{ path('experience', { 'id': experience.id }) }}">{{ experience.title }}</a></h2>
        <p>{{ experience.content }}</p>
    </article>
  {% endfor %}

{% endblock %}
